<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobia.wallpaper_haven">
    <application
        android:label="Wallpaper Haven"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>